/*html, body
{
    margin: 0 auto;
    max-width: 650px;
    /*background-color: antiquewhite;*/
/*}*/
@font-face
{
	font-family: 'Chirp Heavy';
	src: url('fonts/Chirp Heavy.otf');
}
@font-face
{
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf');
}

body
{
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    background-image: url('bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.c
{
    margin: 0 auto;
    max-width: 700px;
    /*padding-left: 20px;
    padding-right: 20px;*/
    background-color: white;
    height: 100%;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

h1
{
    font-family: "Chirp Heavy";
    font-size: 35px;
    /*font-size: 5vh;*/
    /*font-size: 2.5rem;*/
    /*font-size: 5vw;*/
    text-align: left;
}

h2
{
    font-family: "Chirp Heavy";
    font-size: 24px;
    /*font-size: 3.5vh;*/
    /*font-size: 2rem;*/
    /*font-size: 3.5vw;*/
    text-align: left;
}

h3
{
    font-family: "Chirp Heavy";
    font-size: 19px;
    /*font-size: 2vh;*/
    /*font-size: 1rem;*/
    /*font-size: 2em;*/
    text-align: left;
}

p, li, label
{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: roboto;
    color: #555;
    font-size: 18px;
    /*font-size: 2vh;*/
    /*font-size: 1rem;*/
    text-align: left;
}

.green-v
{
    background-color: #ada;
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    color: #272;
    font-size: 12px;
    font-family: roboto;
}

.green-v a:link
{
    border-radius: 3px;
    color: #272;
    font-size: 12px;
    font-family: roboto;
}
.green-v a:hover
{
    border-radius: 3px;
    color: #272;
    font-size: 12px;
    font-family: roboto;
}
.green-v a:visited
{
    border-radius: 3px;
    color: #272;
    font-size: 12px;
    font-family: roboto;
}

img
{
    border-radius: 20px;
}

hr
{
	border: 0;
    height: 0;
    border-top: 1.5px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.boxc:not([class="btn-box"])
{
    /*height: 0;*/
    border: #eee .2px solid;
    padding: 8px 32px 8px 32px;
}

a:link
{
	color: #64AAFF;
	text-decoration: none;
	/*font-family: Arial, Helvetica, sans-serif;*/
    font-family: roboto;
	font-size: 14;
}
a:visited
{
	color: #64AAFF;
	text-decoration: none;
}
a:hover
{
	color: #64AAFF;
	text-decoration: underline;
}
a:active
{
	color: #64AAFF;
	text-decoration: underline;
}

.qt
{
    width: 50%;
    margin: auto;
    border-radius: 20px;
    border: 1.5px solid #555;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.qt h1
{
    text-align: center;
}

.qt h2
{
    text-align: center;
}

.qts
{
    background-color: #ddd;
    padding-left: 4px;
    padding-right: 4px;
    /*padding-top: 1px;
    padding-bottom: 1px;*/
    border-radius: 5px;
    font-family: consolas;
    font-size: 16px;
    /*font-size: 14px;*/
}

.qts a
{
    font-family: consolas;
    font-size: 16px;
}

.qtc
{
    width: 77%;
    margin: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
    line-height: 20px;
    font-family: consolas;
    color: gainsboro;
    font-size: 14px;
    max-height: 100%;
}

.qtc p
{
    font-family: consolas;
    color: gainsboro;
}

.qtc span
{
    font-family: consolas;
    color: gainsboro;
}

.qtc .kw
{
    color: aqua;
    /*color: orange;*/
}

.qtc .fn
{
    color: magenta;
}

.qtc .cm
{
    color: green;
}

.qtc .in
{
    color: greenyellow;
}

.qtc .nm
{
    color: lightskyblue;
}

.qtc .st
{
    color: burlywood;
}

.qtc .ch
{
    color: yellow;
}

.qtc .ty
{
    color: aqua;
}

.qtc a
{
	text-decoration: none;
    color: gainsboro;
    font-family: consolas;
    text-decoration-color: yellow!important;
}
.qtc a:visited
{
	text-decoration: none;
}
.qtc a:hover
{
	text-decoration: underline;
}
.qtc a:active
{
	text-decoration: underline;
}

.boxc .btn-box
{
	background: #00000000;
	color: black;
	border: none;
	/*overflow: hidden;*/
	outline: none;
    width: 111%;
    margin: -8px -32px -8px -32px;
    padding: 8px 32px 8px 32px;
    border-radius: 0;
}
.btn-box:hover
{
	background: #00000011;
}
.btn-box:active
{
	background: #00000044;
}

.ex-hbox
{
    padding-top: 64px; margin: 0 auto; width: 420px;
}

.input-field
{
    width: 100%;
    border: none;
    background-color: #00000000;
    resize: vertical;
}

.input-box
{
    border: solid #555 .5px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.title
{
    font-family: "Chirp Heavy";
    font-size: 35px;
    text-align: left;
}

.p
{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: roboto;
    color: #555;
    font-size: 18px;
    text-align: left;
}

button
{
    transition: 0.5s all ease 0s;
	background: #64AAFF;
	color: white;
    font-family: roboto;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:hover
{
    transition: 0.5s all ease 0s;
	background: #64CCFF;
}
button:active
{
    transition: 0.25s all ease 0s;
	background: #3277CC;
}

.input-filebox
{
    padding-top: 10px;
    cursor: pointer;
}
/*.input-filebox
{
  background-color:#d5d5d5;
  transition: 0.5s all ease 0s;
  -webkit-transition: 0.5s all ease 0s;
  -moz-transition: 0.5s all ease 0s;
  -ms-transition: 0.5s all ease 0s;
}*/

image
{
    border-radius: 20px;
}

.header-sp
{
    min-height: 53px;
}

.header
{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #fffa;
    z-index: 0;
    width: 100%;
    max-width: 700px;
    backdrop-filter: blur(4px);
    /*padding: 2px 10px 2px 10px;*/
}

.header-box
{
    line-height: 0;
    padding: 7px 8px 0 25px;
    display: flex;
    flex-direction: row;
}

.header-back
{
    width: 64px;
}

.back-btn
{
    width: 40px;
    height: 40px;
    padding: 0;
    transition: 0.25s all ease 0s;
	background: #FFF0;
    color: #000;
}
.back-btn:hover
{
    transition: 0.5s all ease 0s;
	background: #0002;
}
.back-btn:active
{
    transition: 0.25s all ease 0s;
	background: #0004;
}

@media screen and (max-width: 980px)
{
body
{
    height: calc(var(--vh, 1vh) * 100);
}

/*h1
{
    font-size: 68px!important;
}

h2
{
    font-size: 58px!important;
}

h3
{
    font-size: 20px!important;
}

p, li, label
{
    font-size: 20px!important;
}*/

.c
{
    margin: 0 auto;
    max-width: 100%;
    /*padding-left: 20px;
    padding-right: 20px;*/
    /*background-color: antiquewhite;*/
    background-color: #ffffffdd;
    /*overflow: auto;*/
    height: 100%;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.boxc:not([class="btn-box"])
{
    /*height: 0;*/
    border: #ccc .2px solid;
    padding: 8px 32px 8px 32px;
}

.header
{
    min-width: 100%;
    margin: 0;
    left: 0;
    right: 0;
}

.ex-hbox
{
    padding-top: 32px; padding-bottom: 32px; margin: 0 auto; width: 90%;
}
}